{% extends 'layouts/main.twig' %}

{% block title %}Все пользователи{% endblock %}

{% block content %}
    {% for user in users %}
        <h2>{{ user.login }}</h2>
        <a href="/user/one?id={{ user.id }}">подробнее</a>
        <hr>
    {% else %}
        Список пуст
    {% endfor %}
{% endblock %}